header{
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1{
        padding-top: 7px;
        color: $redTitle;
    }
    & .searchbar{
        margin-top: 20px;
        background-color: #E7E7E7;
        padding: 20px 23px;
        width: 77%;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        &:focus{
            outline: none;
        }
    }
}

main{
    width: 100%;
    padding: 50px;
    & .container{
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 400px;
        background-color: burlywood;
        font-size: 12px;
        & .content{
            height: 100px;
            background-color: coral;
        }
        & .empty{
            height: 180px;
            background-color: red;
            width: 100%;
        }
    }
}

.recette{
    display: flex;
    & .ingredient{
        width: 20px;
    }
}