header{
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1{
        padding-top: 7px;
        color: $redTitle;
    }
    & .searchbar{
        margin-top: 20px;
        background-color: #E7E7E7;
        padding: 20px 23px;
        width: 77%;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        &:focus{
            border: black 1px solid;
            border-radius: 5px;
            outline: none;
        }
    }
}

main{
    width: 100%;
    padding: 50px;
    & .container{
        display: flex;
        flex-direction: column;
        width: 390px;
        height: 350px;
        font-size: 12px;
        border-radius: 5px;
        overflow: hidden;
        & .empty{
            height: 60%;
            background-color: #C7BEBE;
            width: 100%;      
        }
        & .content{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 66%;
            background-color: #E7E7E7;
            padding: 0px 20px;
        }
    }
}

.title{
    display: flex;
    justify-content: space-between;
    & p:first-child{
        font-size: 17px;
    }
    & p:last-child{
        font-size: 17px;
        font-weight: 800;
    }
}

.recette{
    display: flex;
    & .ingredient{
        width: 50%;
    }
    & p:last-child{
        width: 50%;
    }
}