*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "lato", sans-serif;
  font-size: 18px;
}

header {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  padding-top: 7px;
  color: #D04F4F;
}
header .searchbar {
  margin-top: 20px;
  background-color: #E7E7E7;
  padding: 20px 23px;
  width: 77%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: 0.1s;
  max-width: 1200px;
  text-overflow: ellipsis;
  border: transparent 2px solid;
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
}
header .searchbar:focus {
  border: rgba(0, 0, 0, 0.783) 2px solid;
}

main {
  width: 100%;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-self: center;
  max-width: 1280px;
  margin: auto;
}
main .container {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 350px;
  font-size: 12px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 26px;
  transition: 0.3s;
}
main .container:hover {
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
main .container .empty {
  height: 60%;
  background-color: #C7BEBE;
  width: 100%;
}
main .container .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 66%;
  background-color: #E7E7E7;
  padding: 0 20px;
}

.title {
  display: flex;
  justify-content: space-between;
}
.title p:first-child {
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 270px;
}
.title p:last-child {
  font-size: 17px;
  font-weight: 800;
}

.recette {
  display: flex;
}
.recette .ingredient {
  width: 50%;
  line-height: 18px;
}
.recette p:last-child {
  width: 50%;
}

.main-para {
  display: -webkit-box;
  margin: 0.125rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.bolder {
  font-weight: 800;
}

.ingredient p {
  width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 1230px) {
  main {
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 810px) {
  main {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
.btn-section {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.btn-section .biggerInput {
  width: 23%;
}
.btn-section label {
  background-color: #3282F7;
  position: relative;
  padding: 2px;
  margin-right: 40px;
  border-radius: 8px;
  color: white;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  opacity: 0.9;
  backdrop-filter: blur(4px);
}
.btn-section label input {
  transition: 0.5s;
  padding: 14px 0px 14px 27px;
  background-color: #3282F7;
  border: none;
  color: white;
  font-size: 18px;
  width: 100%;
}
.btn-section label input::placeholder {
  color: rgba(255, 255, 255, 0.694);
  margin-left: 10px;
}
.btn-section label input:focus {
  outline: none;
}
.btn-section label .listUL {
  transition: 1s;
  max-height: 0px;
  opacity: 0;
  list-style: none;
}
.btn-section label .listUL li {
  padding: 5px 20px;
  display: none;
}
.btn-section label .listUL li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  cursor: pointer;
}

#btn-appliance {
  background-color: #68D9A4;
}
#btn-appliance input {
  background-color: #68D9A4;
}

#btn-ustensile {
  background-color: #ED6454;
}
#btn-ustensile input {
  background-color: #ED6454;
}

.ajoute {
  opacity: 1 !important;
  max-height: 100% !important;
  padding: 4px 20px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.ajoute > li {
  display: list-item !important;
}

.appareil {
  background-color: red;
}

.arrow {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 7px;
  right: 7px;
  border-radius: 50%;
  transition: 0.3s;
}
.arrow:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 0px;
  width: 8%;
  height: 39%;
  transition: all 0.5s;
  border-radius: 37px;
}
.arrow::before {
  left: 14px;
  transform: rotate(45deg);
  background-color: white;
}
.arrow::after {
  left: 23px;
  transform: rotate(-45deg);
  background-color: white;
}

.arrowRotate.arrow::before {
  transform: rotate(-45deg);
}

.arrowRotate.arrow::after {
  transform: rotate(45deg);
}

@media only screen and (max-width: 1290px) {
  .btn-section {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .btn-section label {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media only screen and (max-width: 740px) {
  .btn-section label {
    width: 84%;
  }
}
@media only screen and (max-width: 670px) {
  .ajoute {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 470px) {
  .ajoute {
    grid-template-columns: 1fr;
  }
}
#tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 5%;
}
#tags .tagAdd {
  color: white;
  margin: 10px 15px;
  padding: 6px 19px;
  border-radius: 8px;
}
#tags .tagAdd.appliance {
  background-color: #68D9A4;
}
#tags .tagAdd.ingredient {
  background-color: #3282F7;
}
#tags .tagAdd.ustensils {
  background-color: #ED6454;
}

/*# sourceMappingURL=style.css.map */
