.btn-section{
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  & .biggerInput{
    width: 23%;
  }
  & label{
    background-color: #3282F7;
    position: relative;
    padding: 2px;
    margin-right: 40px;
    border-radius: 8px;
    color: white;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    & input{
      transition: .5s;
      padding: 14px 0px 14px 27px;
      background-color: $blue;
      border: none;
      color: white;
      font-size: 18px;
      width: 100%;
      &::placeholder{
        color: rgba(255, 255, 255, 0.694);
        margin-left: 10px;
      }
      &:focus{
          outline: none;
      }      
    }
    & .listUL{
        transition: 1s;
        max-height: 0px;
        opacity: 0;
        list-style: none;
        & li{
          padding: 5px 30px;
          display: none;
        &:hover{
          background-color: rgba(white, .2);
          border-radius: 5px;
          cursor: copy;
        }
      }
    }
  }
}

#btn-appliance{
  background-color: $green;
  & input{
      background-color: $green;
  }
}

#btn-ustensile{
  background-color: $redDiv;
  & input{
      background-color: $redDiv;
  }
}

.ajoute{
  opacity: 1 !important;
  max-height: 100% !important;
  padding: 4px 20px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  & > li {
    display: list-item !important;
  }
}

.appareil{
    background-color: red;
}

.arrow {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 7px;
  right: 7px;
  border-radius: 50%;
  transition: .3s;
  &:hover{
    background-color: rgba(white, .1);
    border-radius: 50%;
  }
  &::before, &::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 0px;
    width: 8%;
    height: 39%;
    transition: all 0.5s;
    border-radius: 37px;

  }
  &::before {
    left: 14px;
    transform: rotate(45deg);
    background-color: white;
  }
  &::after {
    left: 23px;
    transform: rotate(-45deg);
    background-color: white;
  }
}

.arrowRotate.arrow::before {
  transform: rotate(-45deg);
}

.arrowRotate.arrow::after {
  transform: rotate(45deg);
}

@media only screen and (max-width: 1290px) {
  .btn-section {
      justify-content: space-around;
      flex-wrap: wrap;
      & label{
        margin-bottom: 20px;
        margin-right: 0;
        width: 84%;
      }
  }
}

@media only screen and (max-width: 670px) {
  .ajoute{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 470px) {
  .ajoute{
    grid-template-columns: 1fr;
  }
}